/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}
.skills{
  background-color:Purple; 
  color:grey;
  
}

  

  .Statement{
    border:5px dashed;
    color:yellow;
  }
.Attributes{
  border:5px solid;
  color:orange;
  
}
.years{
  border:5px double;
  color:white;
}